body {
    font-family: 'Poppins', sans-serif;
}

/* Navbar starts - Navbar starts  */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: baseline;
}

.logo {
    font-size: 26px;
    font-weight: 700;
}

.logo-title {
    margin-left: 20px;
}

.nav-link {
    margin: 0 10px;
    position: relative;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link-item {
    display: flex;
}

.navbar-right a {
    text-decoration: none;
    /* color: darkslategray; */
    color: rgb(80, 79, 79);
}

.navbar-right .blue a {
    color: blue;
}

.cart-section {
    position: relative;
    /* height: 40px; */
    margin-bottom: -8px;
}

.cart-number {
    position: absolute;
    top: -15px;
    right: -5px;
    color: rgb(212, 50, 50);
}

.phone-icon {
    margin-right: 7px;
}


/* Lower Nav - Lower Nav  */
.lower-nav {
    padding: 5px 60px;
    display: flex;
    justify-content: space-between;
    color: rgb(80, 79, 79);
}

.lower-nav-left {
    width: 15%;
    border: 1px solid grey;
    display: flex;
    align-items: center;
}

.lower-nav-left-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lower-nav-center  {
    width: 68%;
}

.lower-nav-right  {
    width: 15%;
    text-align: center;
    border: 1px solid gray;
    color: rgb(212, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-nav-center {
    display: flex;
    border: 2px solid rgb(212, 50, 50);
}

.lower-nav-center-left {
    width: 15%;
    /* border: 1px solid grey; */
    display: flex;
    align-items: center;
}

.lower-nav-center-left-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.lower-nav-center-center {
    width: 83%;
    border-right: 1px solid rgb(80, 79, 79);
    border-left: 1px solid rgb(80, 79, 79);
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower-nav-center-right {
    width: 5%;
    background-color: rgb(212, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-nav-center-right .search-icon {
    color: whitesmoke;
    font-size: 22px;
}